* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


:root {
    --dark: #242323;
    --light: #d0d0d0;
    --boxBtn: 2px 2px 5px rgba(0, 0, 0, 0.596), 3px 3px 6px rgba(0, 0, 0, 0.15),
        inset -2px -2px 5px rgba(255, 255, 255, 0.816), inset 3px 3px 6px rgba(0, 0, 0, 0.2);
}

body {
    transition: background 0.5s;
}

body.dark {
    background: var(--dark);
}


section {
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;

}

.main {
    width: 580px;
    margin : 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.searchBox {
    position: relative;
    width: 100%;
   margin-top:20px
   
}



.recherche{
    width: 100%;
    height: 40px;
    padding: 13px;
    border: 1px solid #ccc;
    z-index:3;
    outline: none;
    font-size: 16px;
    border-radius: 25px;
    padding-left: 45px;
    padding-right: 45px;

}

.recherche:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.center{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
  
 
}

.iconos{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    pointer-events: none;

}

.iconosMini{
    max-width: 100%;
}

.btnSearch{
        background-color: rgb(238, 240, 242);
        border: none;
        border-radius: 4px;
    color: hsl(206deg, 6%, 25%);
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.btnSearch:hover {
    box-shadow: 0 1px 1px rgb(0, 0, 0, 10%);
    background-color: hsl(210deg, 17%, 98%);
    border: 1px solid hsl(220deg, 9%, 87%);
    color: hsl(225deg, 6%, 13%);
}

/*--------bouton changer a noir-------------*/
.btnChange {

    position: absolute;
    top: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 80%;
    z-index: 1;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--boxBtn);
    display: grid;
    place-items: center;
    font-size: 1.4rem;
}

.btn-dark .btnChange:hover {
    transform: scale(0.9);
}

.btn-dark .btnChange::before {
    content: '\f186';
    font-family: fontAwesome;
    color: #000;
}

body.dark .btn-dark .btnChange::before {
    content: '\f185';
    font-family: fontAwesome;
}

/*--------bouton changer a noir-------------*/